<div class="container">
  <div class="docs row">
    <div class="three columns">
      <div class="side-menu">
        {{#each tableOfContents as |entry|}}
          {{#if entry.section}}
            <div class="toc-section-title">
              {{entry.section}}
            </div>
          {{else}}
            <div class="toc-entry">
              {{#if entry.route}}
                {{#link-to entry.route}}{{entry.title}}{{/link-to}}
              {{else}}
                {{entry.title}}
              {{/if}}
            </div>


            {{#if entry.children}}
              {{#each entry.children as |child|}}
                <div class="toc-entry toc-subentry">
                  {{#link-to child.route}}{{child.title}}{{/link-to}}
                </div>
              {{/each}}
            {{/if}}
          {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="nine columns">
      {{nav-header nextTopic=nextTopic prevTopic=prevTopic}}
      {{github-edit}}

      {{outlet}}

      <br> <br> <br> <br>

      {{nav-header nextTopic=nextTopic prevTopic=prevTopic}}
    </div>
  </div>
</div>
