<div class="container">
  <div class="docs row">
    <div class="three columns">
      <div class="side-menu">
        <ul>
          {{#each tableOfContents key="route" as |entry|}}
          <li>
            {{#if entry.route}}
              {{#link-to entry.route}}{{entry.title}}{{/link-to}}
            {{else}}
              {{entry.title}}
            {{/if}}

            {{#if entry.children}}
            <ul>
              {{#each entry.children key="route" as |child|}}
              <li>
                {{#link-to child.route}}{{child.title}}{{/link-to}}
              </li>
              {{/each}}
            </ul>
            {{/if}}
          </li>
          {{/each}}
        </ul>
      </div>

    </div>
    <div class="nine columns">
      {{nav-header nextTopic=nextTopic prevTopic=prevTopic}}
      {{github-edit}}

      {{outlet}}

      {{nav-header nextTopic=nextTopic prevTopic=prevTopic}}
    </div>
  </div>
</div>
