<div class="code-template-toggle-section {{if showCode "hidden"}}">
  {{code-snippet name=templateSnippet}}
</div>
<div class="code-template-toggle-section {{if showCode "" "hidden"}}">
  {{code-snippet name=codeSnippet}}
</div>
<span role="button" class="button code-template-toggle-button" onclick={{action "toggle"}}>
  {{toggleDescription}}
</span>
