{{! BEGIN-SNIPPET increment-button }}
<button
  {{! template-lint-disable no-down-event-binding }}
  {{on "touchstart" @press}}
  {{on "mousedown" @press}}
  {{on "touchend" @release}}
  {{on "mouseleave" @release}}
  {{on "mouseup" @release}}
  type="button">
  {{yield}}
</button>
{{! END-SNIPPET }}
