<p>
  {{! BEGIN-SNIPPET start-task-example-template }}
  <button type="button" {{action "performTask" "one"}}>
    1. task.perform(...)
  </button>

  <button onclick={{perform this.myTask "two"}} type="button">
    2. (perform taskName)
  </button>

  <button type="button" {{action "triggerFoo" "three"}}>
    3. .on('foo')
  </button>

  <input type="checkbox"
        onchange={{perform this.myTask value="target.checked"}}>
  4. Checkbox
  {{! END-SNIPPET }}
</p>

<h4>Status: {{this.status}}</h4>

<h5>JavaScript</h5>

<CodeSnippet @name="start-task-example.js" />

<h5>Template</h5>

<CodeSnippet @name="start-task-example-template.hbs" />
