<p>
  {{! BEGIN-SNIPPET start-task-example-template }}
  <button type="button" {{on "click" this.performTask "one"}}>
    1. task.perform(...)
  </button>

  <button type="button" {{on "click" (perform this.myTask "two")}}>
    2. (perform taskName)
  </button>

  <button type="button" {{on "click" this.triggerFoo "three"}}>
    3. .on('foo')
  </button>

  <label>
    <input type="checkbox" {{on "change" (perform this.myTask value="target.checked")}}>
    4. Checkbox
  </label>
  {{! END-SNIPPET }}
</p>

<h4>Status: {{this.status}}</h4>

<h5>JavaScript</h5>

<CodeSnippet @name="start-task-example.js" />

<h5>Template</h5>

<CodeSnippet @name="start-task-example-template.hbs" />
