<div class="container">
  <h2>Experimental: all derivable state about a task</h2>

  <p>
    Because the "buffering policy" for a task is declaratively
    specified up front (via task modifiers like .drop, .enqueue),
    someone who wants to .perform a task can know up front whether
    perform()ing that task right now would 1) immediately execute
    the task instance, 2) immediately cancel (drop) the task
    instance, or 3) enqueue the task instance for later execution.
  </p>

  <p>
    This experiment is part of my attempt to squeeze out the maximal
    amount of derivable state from the declarative ember-concurrency
    API. Once we have all the derivable state we can coalesce
    into more reasonable APIs/patterns to expose to the user.
  </p>

  {{#each tasks as |task|}}
    <h4>{{task.name}}, maxConcurrency={{task._maxConcurrency}}</h4>
    <ul>
      <li>isRunning: {{caps-bool task.isRunning}}</li>
      <li>concurrency: {{task.concurrency}}</li>
      <li>nextPerformState: {{task.nextPerformState}}</li>
      <li>performWillSucceed: {{caps-bool task.performWillSucceed}}</li>
      <li>performWillDrop: {{caps-bool task.performWillDrop}}</li>
      <li>performWillEnqueue: {{caps-bool task.performWillEnqueue}}</li>
      <li>performWillCancelPrevious: {{caps-bool task.performWillCancelPrevious}}</li>
    </ul>
    {{concurrency-graph task=task}}
  {{/each}}
</div>

