<h1>Helpers Test</h1>

<p class="task-status">{{status}}</p>

{{#my-button action=(perform    myTask 1 2) class="perform-task"}}Perform{{/my-button}}
{{#my-button action=(cancel-all myTask 1 2) class="cancel-task" }}Cancel{{/my-button}}
{{#my-button action=(perform    returnValue) class="value-task" }}Return a Value{{/my-button}}

<button onclick={{perform maybeNullTask}} class="maybe-null-task">Maybe Null Task</button>
<button onclick={{action "setupTask"}} class="setup-task">Setup Task</button>
<button onclick={{perform valueTask value="target.innerHTML"}} class="set-value-option-task">Set value option</button>
<button onclick={{action someTask}} class="action-task">Action Task</button>
