<h3>Accelerating Increment / Decrement Buttons</h3>

<p>
  This example demonstrates a few different concepts:
</p>

<ul>
  <li>
    Tricky time-based operations like acceleration are simplified
    by the sequential style of task functions
  </li>
  <li>
    You can use <code>(perform taskName)</code> in place of anywhere you
    might want to use a classic Ember action.
  </li>
</ul>

<h5>Live Example</h5>

<h1>Num: {{this.count}}</h1>

<p>(Hold down the buttons to accelerate.)</p>

{{! BEGIN-SNIPPET press-and-hold-buttons }}
<p>
  <PressAndHoldButton @press={{perform this.incrementBy -1}} @release={{cancel-all this.incrementBy}}>
    --Decrease
  </PressAndHoldButton>

  <PressAndHoldButton @press={{perform this.incrementBy 1}} @release={{cancel-all this.incrementBy}}>
    Increase++
  </PressAndHoldButton>
</p>
{{! END-SNIPPET }}

<h5>JavaScript (task)</h5>

<CodeSnippet @name="increment-button-task.js" />

<h5>JavaScript (button component)</h5>

<CodeSnippet @name="increment-button.js" />

<h5>Template</h5>

<CodeSnippet @name="press-and-hold-buttons.hbs" />
