<h3>Using ember-concurrency with TypeScript</h3>

<p>
  As of version 1.2, ember-concurrency comes bundled with its own
  <a href="https://github.com/machty/ember-concurrency/blob/master/addon/index.d.ts">
    type definitions
  </a>. On compatiable verions of TypeScript – currently 3.7 and 3.9,
  it should automatically pick them up to provide type checking and
  completion.
</p>

<p>
  Note that old versions of
  <a href="https://github.com/machty/ember-concurrency-decorators/">
    ember-concurrency-decorators
  </a> came with an incomplete set of type definitions for
  ember-concurrency. If you are using that addon, be sure to
  upgrade to version 2.0 or above to avoid conflicts.
</p>

<h4>Classic Ember</h4>

{{code-snippet name="ts/classic-vs-octane/classic.ts"}}

<p>
  In Classic Ember, everything work as expected. Note that while
  from Ember's perspective <code>this.get()</code> is no longer
  required, it is needed here to get the correct type.
</p>

<p>
  From what TypeScript can see, <code>this.myTask</code> is a
  <code>TaskProperty</code> but <code>this.get('myTask')</code>
  "unwraps" the task property into a <code>Task</code>, allowing
  <code>perform()</code> to be called on it, among other things.
  This is a limitation of <code>@types/ember</code> and is true
  for other computed properties as well.
</p>

<h4>Octane</h4>

{{code-snippet name="ts/classic-vs-octane/octane.ts"}}

<p>
  Since we are using native classes in Octane, TypeScript have
  an easier time understanding and following our code. Normally,
  this is a good thing, but in the case of ember-concurrency, it
  ends up getting a bit in the way.
</p>

<p>
  ember-concurrency's API was designed with Class Ember in mind,
  where it could decorate a property or method and replace it
  with a different type in the <code>.extend()</code> hook.
</p>

<p>
  This is not allowed using TypeScript's decorators. Since
  <code>myTask</code> is defined using as the (generator) method
  syntax, and since methods do not have a <code>.perform()</code>
  method on them, calling <code>this.myTask.perform()</code> will
  result in a type error, even though it will work at runtime.
</p>

<p>
  We could work around this by type casting the method, such as
  <code>(this.myTask as any as Task&lt;string, number&gt;)</code>,
  but doing this everywhere is quite verbose and error-prone.
  Instead, we opted to use the
  <a href="https://github.com/chancancode/ember-concurrency-ts">
    ember-concurrency-ts
  </a> addon, which encapsulate the type cast transparently in
  a <code>taskFor</code> utility function.
</p>

<p>
  In addition to the code readability improvements, this utility
  function is also safer than the inline type cast, as it is able
  to automatically infer the arguments and return type of the task
  based on the task function signature.
</p>

<p>
  The <code>taskFor</code> utility function also works with
  <a href="/docs/encapsulated-task">Encapsulated Tasks</a>:
</p>

{{code-snippet name="ts/classic-vs-octane/octane-encapsulated.ts"}}

<h4>Limitations of Generator Functions in TypeScript</h4>

<p>
  In ember-concurrency, tasks are defined with generator function
  (method) syntax. The task can <code>yield</code> any objects,
  typically promises or other <code>TaskInstance</code>, and the
  ember-concurrency runtime will resolve it and resume the task
  with the resolved value when it becomes available.
</p>

<p>
  Due to limitations in TypeScript's understanding of generator
  functions, it is not possible to express the realtionship between
  the left and right hand side of a <code>yield</code> expression.
  As a result, the resulting type of a yield expression inside a
  task function must be annotated manually:
</p>

{{code-snippet name="ts/yield/unsafe.ts"}}

<p>
  Since the <code>yield</code> expressions are typed to "return"
  <code>any</code>, TypeScript would happily go along with any
  type annotation and allow you to freely assign the result of the
  <code>yield</code> expression. Therefore, it is very important
  to ensure it matches up with reality.
</p>

<p>
  A safer approach would be to use a utility type, like so:
</p>

{{code-snippet name="ts/yield/safe.ts"}}

<p>
  This <code>Resolved</code> utility type will unwrap a yieldable
  value into its resolved type. This is much safer, as it retains
  the types realtionship between the left and right hand side of
  the <code>yield</code> expressions.
</p>

<p>
  A third approach to this solving this problem is to use the
  <a href="https://github.com/chancancode/ember-concurrency-async">
    ember-concurrency-async
  </a> addon, which enables async method syntax for tasks:
</p>

{{code-snippet name="ts/yield/async.ts"}}

<p>
  <code>await</code> expressions in <code>async</code> methods
  already has the <code>Resolved</code> semantics we are after,
  natively built into the TypeScript compiler. Using this syntax,
  we automatically get the correct types out-of-the-box.
</p>

<p>
  In order for this code to type-check, we will have to include
  the following in <code>types/&lt;app name&gt;/index.d.ts</code>:
</p>

{{code-snippet name="ts/yield/index.d.ts"}}

<p>
  This imports the type extensions form the addons to add a few
  new utility types as well as to add new overload signatures to
  existing functions to support async task functions.
</p>
