<h1>ember-concurrency</h1>

<p>
  <a href="https://github.com/machty/ember-concurrency/tree/master/tests/dummy/app" target="_blank">Check out the code</a>
</p>

{{!link-to 'ajax' 'ajax'}}
{{!link-to 'color' 'color'}}
{{!link-to 'yielding' 'yielding'}}
{{link-to 'tasks' 'tasks'}}
{{link-to 'async-iterator' 'async-iterator'}}
{{link-to 'music' 'music'}}
{{link-to 'auto-complete' 'auto-complete'}}

{{outlet}}

