<h2>Tasks</h2>

<p>grouped to taskGroup0</p>

{{x-task group=taskGroup0}}
{{x-task group=taskGroup0}}
{{x-task group=taskGroup0}}
{{x-task group=taskGroup0}}

<p>grouped to taskGroup1</p>

{{x-task group=taskGroup1}}
{{x-task group=taskGroup1}}
{{x-task group=taskGroup1}}
{{x-task group=taskGroup1}}

