<h4>Status: {{status}}</h4>

<form {{action 'doSearch' on='submit'}}>
	Wiki Search:
	{{input value=query}}
  {{#if wikiSearcher.isRunning}}
    <button class="btn-cancel" {{action 'cancelSearch'}}>CANCEL</button>
  {{else}}
    <button {{action 'doSearch'}}>Search</button>
  {{/if}}
</form>

<div class="progress-outer">
  <div class="progress-inner" style={{innerProgressStyle}}></div>
</div>

{{#if results}}
	<ul>
    {{#each results as |r|}}
    	<li><a href={{r}}>{{r}}</a></li>
    {{/each}}
  </ul>
{{else}}
	Nothing to display yet...
{{/if}}

